name: Deploy Benchmark UI
on: [push]

permissions:
    contents: write

jobs:
    deploy:
        concurrency: ci-${{ github.ref }}
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6
            - uses: actions/setup-node@v6
              with:
                node-version: "24.6.0"
            - uses: oven-sh/setup-bun@v2
              with:
                bun-version: "1.2.21"
            - uses: actions/setup-python@v6
              with:
                python-version: "3.13"
            - uses: actions-rust-lang/setup-rust-toolchain@v1
              with:
                toolchain: nightly
            - run: python3 download_inputs.py
              env:
                AOC_SESSION: ${{ secrets.AOC_SESSION }}
            - run: cargo bench -p benches
            - run: cd bench_ui && bun install
            - run: cd bench_ui && bun run build
            - uses: JamesIves/github-pages-deploy-action@v4
              with:
                folder: bench_ui/dist
              
